body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-size: 20px;
}


.navbar{
    background-color: green;
    
}

.quemsoueu{
    background-color: #8181f7;
    color: white;
}

.margin{
    
    padding-bottom: 50px;
    padding-top: 10px;
}

.Perfil{
    background-color: brown
}

.Contato{
    background-color: darkblue;
    padding-bottom: 50px;
    padding-top: 10px;
}


.bg-footer{
    background-color: black;
    color: white;
}